<ion-card color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">{{elindice}}.  </span>
      <span class="noticia-soruce">{{unanoticia.source.name}}</span>
      <div class="noticia-more">
          <ion-button (click)="lanzarMenu()" fill="clear" >
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
      </div> 
    </ion-card-subtitle>
    <ion-card-title (click)="abrirNoticia()"> </ion-card-title>
    <ion-img *ngIf="unanoticia.urlToImage"
      (click)="abrirNoticia()" 
      [src]="unanoticia.urlToImage"></ion-img>
  </ion-card-header>

  <p>
    {{unanoticia.description}}
  </p>
</ion-card>