<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>


  <ion-segment mode="md" scrollable color="primary"   (ionChange)="cambiarCategoria($event)"> 
    <ion-segment-button mode="md"
     *ngFor="let categori of categorias"
      [value]="categori">
      <ion-label text-capitalize mode="md" >{{categori}}</ion-label>
    </ion-segment-button>
  </ion-segment>



</ion-header>

  
<ion-content color="dark">
  <app-noticias [lasnoticias]="noticias"></app-noticias>

  <ion-infinite-scroll threshold="25%" [disabled]="false" 
      position="bottom" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" 
            loadingText="Cargando mas datos...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>