<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Noti   -  cias
    </ion-title>
  </ion-toolbar>



</ion-header>

<ion-content color="dark">

<app-noticias [lasnoticias]="lasnoticias"></app-noticias>

<ion-infinite-scroll color = "white" threshold="250px" 
   position="bottom" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" 
      loadingText="Cargando mas datos...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
